.manage-menu-container {
    padding: 0 15px;

    .ms-title {
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
    }

    .add-new-food {
        .btn-save-menu {}
    }

}